body {
    margin: 0;
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(12px);
    height: 12px;
}

.mimage{
    width: 100%;
    height: 70%;
}

.content-- {
    display: inline-block;
    margin: 35px;
    margin-top: 15px;
    cursor: pointer;
    background-color: whitesmoke;
    width: 200px;
    height: 175px;
    border: 1px solid black;
    border-radius: 15px;
}

.header {
    list-style-type: none;
    font-family: 'Macondo', cursive;
    font-size: 2vw;
    min-width: 1.5vw;
    margin: 0;
}

.header_other {
    float: right;
    margin: 12px;
    cursor: pointer;
}

.home {
    float: left;
}

.header_other:hover {
    text-decoration: underline;
}

.subs-image {
    margin-top: 12px;
    display: inline-block;
}

.like-image {
    display: inline-block;
}

.counter-count {
    margin: 40px;
    font-size: 40px;
    text-align: center;
}

.counter-text {
    font-size: 25px;
    margin: 15px;
}

.image-yt{
    float: right;
    margin: 5px;
    display: inline-block;
}

.image-yt-yt {
    width: 100%;
    height: 450px;
}

.grow_yt {
    margin: 5px;
    border: 1px solid rebeccapurple;
}

.text-yt {
    display: inline-block;
    height: 463px;
    width: 60%;
}

.heading {
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
    width: 100%;
    text-align: center;
    font-size: 29px;
    margin: 30px;
}

.gyt {
    margin: 12px;
    padding: 4px;
    font-size: 25px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.content--:hover {
    box-shadow: 0 0 5px 5px black;
}

.gyt-- {
    width: 230px;
    height: 50px;
    margin: 15px;
    font-size: 32px;
    background-color: aqua;
    border: 1px solid brown;
}

.gyt--:hover{
    background-color: brown;
    color: aliceblue;
}

.text-download {
    float: right;
    width: 56%;
}

.learning-image {
    height: 99%;
    width: 450px;
    margin: 5px;
}

.image-download {
    width: 100%;
    height: 450px;
}

body {
    /* background-color: aquamarine; */
}