center{
    vertical-align: center;
    width: 500px;
}
html{
    vertical-align: middle;
    text-align: center;
    position: absolute;
    bottom: calc(50%);
    left: 30%;
    background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    display: blur(12%);
}
.item{
    width: 90%;
    margin: 12px;
}
.form{
    width: 600px;
    height: 250px;
    background-color: cadetblue;
    border: 1px dotted black;
    border-radius: 5%;
}
button{
    border: 1px dotted rebeccapurple;
    border-radius: 50%;
    background-color: aquamarine;
    color: darkgoldenrod;
    font-size: 25px;
}
.range{
    width: 40%;
}
.ra{
    margin-left: 80px;
    margin-right: 80px;
}